@import "variable.styl"

body, html
  position: relative;
  min-height: 100%;
  line-height: 1
  font-size: 1
  font-family: Arial,Helvetica,sans-serif
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text
